.huge-button {
    font-size: 65px;
    margin-top:50px;
}
    
.login {
    margin-top:50px;
}

.login-item {
    margin-right:20px;
    }

.stopped {
	color: #B94A48;
}

.pending {
	color: #F89406;
}

.stopping {
	color: #F89406;
}

.running {
	color: #468847;
}

.unknown {
	color: #3A87AD;
}
