!!! 5
html
  head
    title Ignition!
    link(rel="stylesheet", href="/css/bootstrap.min.css", type="text/css")
    link(rel="stylesheet", href="/css/bootstrap-responsive.min.css", type="text/css")
    link(rel="stylesheet", href="/css/ignition.css", type="text/css")
  body
    p
        <br/>
    .container
        .hero-unit
            h1 #{instanceId} (#{elasticIp})
            form.well.form-inline.login(action="/login/#{instanceId}/#{elasticIp}", method="post")
                input.input-small.login-item(type='text', placeholder='User', name="username", autofocus="autofocus")
                input.input-small.login-item(type='password', placeholder='Password', name="password")
                button.btn(type='submit') Sign in